body{
    background-color: blue; 
}

#wrapper{
    width: 1259px;
    background-color: white;
    margin: auto;
    border-radius: 15px;
    padding: 28px 30px;
    height: 592px;
    border: solid blue 4px;
}

nav>a{
    color: white;
    background-color: blue;
    border-radius: 10px;
    padding: 10px;
    margin: 0px 2.9px;
    display: inline-block;
    font-weight: bold;

}

#aboutus{
    font-weight: bold;
    margin-right: 600px;
}



a:active{
    color:grey;
}



#wrapper1{
    background-color: white;
    width: 1250px;
    margin: auto;
    border-radius: 15px;
    padding: 45px 30px;
    height:650px;
    border: solid blue 4px;
}

#table{
    color: blue;
    font-weight: bold;
    padding: 30px 230px;
    width: 50px;
    height: 190px;
    border-radius: 20px;
    margin-left: 230px;
}

#welcome{
    font-weight: bold;
    color: white;
    background-color: blue;
    border-radius: 10px;
    padding: 10px;
    margin: 120px 550px;
    display: inline-block;

}


#wrapper2{         
    background-color: white;
    width: 1250px;
    margin: auto;
    border-radius: 15px;
    padding: 28px 30px;
    height: 900px;
    border: solid blue 4px;
}

#content1{                        
    float: left;
    width: 350px;
    height: 480px;
    right: 0px;
}


#content11{
    color: blue;
    font-size: 20px;
    text-align: justify;
    right: 200px;
    margin-left: 300px;
    padding: 30px;
    border:double blue 5px;
    border-radius: 10px;
}


#content111{
    color: blue;
    font-size: 20px;
    text-align: justify;
    right: 100px;
    margin-left: 300px;
    padding:30px;
    border:double blue 5px;
    margin-top: -245px;
    border-radius: 10px;
}



#wrapper3{
    background-color: white;
    width: 1250px;
    margin: auto;
    border-radius: 15px;
    padding: 28px 30px;
    height: 700px;
    border: solid blue 4px;
}

#laptops{
    
    padding: 25px;
    margin-top: 20px;
    margin-right: -10px;

}

#content3a{
    color: blue;
    font-size: 20px;
    text-align: justify;
    right: 90px;
    margin-left: 290px;
    padding:30px;
    border:double blue 5px;
    margin-top: -240px;
    border-radius: 10px;
}

#tvs{      
    padding: 20px;
    margin-top: 30px;
    margin-right: -10px;
}

#content3b{
    color: blue;
    font-size: 20px;
    text-align: justify;
    right: 90px;
    margin-left: 320px;
    padding:20px;
    border:double blue 5px;
    margin-top: -260px;
    border-radius: 10px;
}



#wrapper4{
    background-color: white;
    width: 1250px;
    margin: auto;
    border-radius: 15px;
    padding: 28px 30px;
    height:700px;
    border: solid blue 4px;
}

#content4a{
    color: blue;
    font-size: 20px;
    text-align: justify;
    right: 200px;
    margin-left: 300px;
    margin-top: -210px;
    padding: 30px;
    border:double blue 5px;
    border-radius: 10px;
}


#content4b{
    color: blue;
    font-size: 20px;
    text-align: justify;
    right: 200px;
    margin-left: 300px;
    margin-top: -225px;
    padding: 30px;
    border:double blue 5px;
    border-radius: 10px;
}






