body{
    background-color: blue; 
}

#wrapper{
    width: 1250px;
    background-color: white;
    margin: auto;
    border-radius: 15px;
    padding: 28px 30px;
    height: 590px;
    border: solid blue 4px;
}

nav>a{
    color: white;
    background-color: blue;
    border-radius: 10px;
    padding: 10px;
    margin: 0px 10px;
    display: inline-block;
    font-weight: bold;
}

#aboutus{
    font-weight: bold;
    margin-right: 600px;
}

a:hover{
    color:black;
    font-weight: bold;
}

a:active{
    color:grey;
}


#wrapper1{
    background-color: white;
    width: 1250px;
    margin: auto;
    border-radius: 15px;
    padding: 28px 30px;
    height: 1200px;
    border: solid blue 4px;
}

#wrapper2{
    background-color: white;
    width: 1250px;
    margin: auto;
    border-radius: 15px;
    padding: 28px 30px;
    height: 1200px;
    border: solid blue 4px;
}


#wrapper3{
    background-color: white;
    width: 1250px;
    margin: auto;
    border-radius: 15px;
    padding: 28px 30px;
    height: 1200px;
    border: solid blue 4px;
}


