body{
    background-color: blue; 
   
}

#wrapper5{
    background-color: white;
    width: 1220px;
    margin: auto;
    border-radius: 15px;
    padding: 38px 50px;
    height:550px;
    border: solid blue 4px;
}

#menu5{
    color: white;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin:40px 10px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
  }
  
#wrapper{
    width: 1259px;
    background-color: white;
    margin: auto;
    border-radius: 15px;
    padding: 15px 28px;
    height: 612px;
    border: solid blue 4px;
}



nav>a{
    color: white;
    background-color: blue;
    border-radius: 5px;
    padding: 10px;
    margin: -5px -5.5px;
    display: inline-block;
    font-weight: bold;

}

#aboutus{
    font-weight: bold;
    margin-right: 600px;
}



a:active{
    color:grey;
}

a:hover{
    color:black;
}

#wrapper1{
    background-color: white;
    width: 1250px;
    margin: auto;
    border-radius: 15px;
    padding: 45px 30px;
    height:750px;
    border: solid blue 4px;
}

#table{
    color: blue;
    font-weight: bold;
    padding: 1px 230px;
    width: 50px;
    height: 140px;
    border-radius: 50px;
    margin-left: 250px;
}


#welcome{
    font-weight: bold;
    color: white;
    background-color: blue;
    border-radius: 5px;
    padding: -100px;
    margin: 120px 550px;
    display: inline-block;
    font-size: 24.8px;

}


#wrapper2{         
    background-color: white;
    width: 1250px;
    margin: auto;
    border-radius: 15px;
    padding: 28px 30px;
    height: 850px;
    border: solid blue 4px;
}



#content1{                        
    float: left;
    width: 320px;
    height: 480px;
    right: 0px;
}


#content11{
    color: blue;
    font-size: 20px;
    text-align: justify;
    right: 200px;
    margin-left: 300px;
    padding: 30px;
    border:double blue 5px;
    border-radius: 10px;
}


#content111{
    color: blue;
    font-size: 20px;
    text-align: justify;
    right: 100px;
    margin-left: 300px;
    padding:30px;
    border:double blue 5px;
    margin-top: -245px;
    border-radius: 10px;
}



#wrapper3{
    background-color: white;
    width: 1250px;
    margin: auto;
    border-radius: 15px;
    padding: 28px 30px;
    height: 750px;
    border: solid blue 4px;
}

#laptops{
    
    padding: 25px;
    margin-top: 20px;
    margin-right: -2px;

}

#content3a{
    color: blue;
    font-size: 20px;
    text-align: justify;
    right: 90px;
    margin-left: 290px;
    padding:20px;
    border:double blue 5px;
    margin-top: -240px;
    border-radius: 10px;
}

#tvs{      
    padding: 20px;
    margin-top: -25px;
    margin-right: -2px;
}

#content3b{
    color: blue;
    font-size: 20px;
    text-align: justify;
    right: 90px;
    margin-left: 320px;
    padding:20px;
    border:double blue 5px;
    margin-top: -260px;
    border-radius: 10px;
}



#wrapper4{
    background-color: white;
    width: 1250px;
    margin: auto;
    border-radius: 15px;
    padding: 28px 30px;
    height:700px;
    border: solid blue 4px;
}

#content4a{
    color: blue;
    font-size: 20px;
    text-align: justify;
    right: 200px;
    margin-left: 300px;
    margin-top: -210px;
    padding: 30px;
    border:double blue 5px;
    border-radius: 10px;
}


#content4b{
    color: blue;
    font-size: 20px;
    text-align: justify;
    right: 200px;
    margin-left: 300px;
    margin-top: -225px;
    padding: 30px;
    border:double blue 5px;
    border-radius: 10px;
}



